.container, #header {
  border-radius: 4px;
}

.container
 {
  background: repeating-linear-gradient(
    30deg,
    rgba(35,70,140,0.1) 7.5%,
    rgba(0,0,0,0) 85%,
    rgba(50,150,50,0.3) 7.5%
  );
}



.flag{
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0.2) 75vw, rgba(0,0,0,0.6) 25vw);
  color: rgba(255, 255, 255, 0.5);
}

#skills {
  text-align: center;
}